<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"> 
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<link href="../css/fonts.css" rel="stylesheet" type="text/css">
		<link href="../css/reset.css" rel="stylesheet" type="text/css">
		<link href="../css/capture.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="capture">
			<div class="event size">100x100</div>
			<div class="event bg"></div>
			<div class="event zone"></div>
			<div class="event capture capture1"></div>
			<div class="event capture capture2"></div>
			<div class="event capture capture3"></div>
			<div class="event capture capture4"></div>
		</div>
		<script>
			require('../js/jquery.min.js');
			require('../js/capture.js');
		</script>
	</body>
</html>